/* Mobile Styles */
@media only screen and (max-width: 480px) {
  body {
    width: 100%;
    background-color: black; }
  header {
    width: 100%;
    height: 60px;
    background-color: pink; }
  .header--logo {
    float: left;
    width: 89px;
    height: 70px;
    margin-left: 1em;
    padding-top: 0;
    margin-top: 0; }
  .header--nav {
    display: none; }
  .sectionHome--img {
    clear: right;
    width: 100%;
    height: 100%;
    float: left;
    margin: 0 auto;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20%; }
  .header--menuCel {
    float: right;
    width: 50px;
    height: 55px;
    margin-right: 1em;
    margin-top: 6px; }
  .header--listaCel {
    display: none;
    color: black;
    background-color: #7e0d37;
    height: 70px;
    width: 90px;
    list-style-type: none;
    text-align: left;
    position: absolute;
    margin: 0;
    padding: 10px; }
  .header--menuCel:hover .header--listaCel {
    color: black;
    display: block; }
  .footerHome--lista {
    display: inline-block;
    clear: both;
    float: left; }
  .header--menuPc {
    display: none; }
  .footerHome--listaCel:hover .footerHome--nroCel {
    background-color: #7e0d37;
    display: block; }
  .FooterHome {
    clear: both;
    color: white;
    width: 100%;
    border-top: solid;
    border-color: white;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .footerHome--tituloLista {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: italic;
    color: #000000; }
  .footerHome--nroCel {
    list-style-type: none;
    font-size: 9px;
    text-decoration: none;
    color: #000000; }
  .footerHome--redes {
    clear: right;
    margin-right: 8.9em;
    float: right; }
  .footerHome--tt {
    border-radius: 50%;
    width: 30px;
    background: #e43868;
    float: right;
    margin-right: 5px;
    position: relative; }
  .footerHome--fb {
    border-radius: 50%;
    width: 30px;
    background: #e43868;
    float: right;
    margin-right: 5px;
    position: relative; }
  .footerHome--ig {
    border-radius: 50%;
    width: 30px;
    background: #e43868;
    float: right;
    margin-right: 5px;
    position: relative; } }

/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: black; }
  header {
    width: 100%;
    height: 50px;
    background-color: black; }
  .header--logo {
    width: 120px;
    height: 95px;
    margin-top: 1.5em;
    margin-left: 1em; }
  .header--nav {
    float: right;
    text-decoration: none;
    color: pink;
    margin-right: 2em;
    margin-top: 2.5em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0; }
  .header--menuCel {
    display: none; }
  .header--menuPc {
    display: inline-block;
    position: right;
    padding-right: 2em; }
  .header--colorlink {
    text-decoration: none;
    color: white; }
  .header--desplegablePc {
    display: inline-block;
    float: left;
    position: relative; }
  .footerHome--listaCel {
    display: none; }
  .header--subdesplegablePc {
    display: none;
    color: black;
    background-color: #7e0d37;
    height: 70px;
    width: 90px;
    list-style-type: none;
    text-align: left;
    position: absolute;
    margin: 0;
    padding: 10px; }
  .header--desplegablePc:hover .header--subdesplegablePc {
    color: black;
    display: block; }
  .header--listaCel {
    display: none; }
  .sectionHome--img {
    width: 74%;
    height: 55%;
    clear: left;
    float: left;
    margin: 0 auto;
    padding-left: 11%;
    padding-bottom: 20%; }
  .footerHome--lista {
    display: inline-block;
    clear: left;
    padding-right: 3em; }
  .footerHome--listaDos {
    margin: 0;
    padding: 0; }
  .footerHome {
    clear: left;
    color: white;
    width: 100%;
    height: 150px;
    border-top: solid;
    border-color: white;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footerHome--tituloLista {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic; }
  .FooterHome--nroCel {
    list-style-type: none;
    font-size: 13px;
    text-decoration: none; }
  .footerHome--redes {
    clear: right;
    margin-right: 2em;
    float: right; }
  .footerHome--tt {
    border-radius: 50%;
    width: 30px;
    background: #e43868;
    float: right;
    margin-right: 5px;
    position: relative; }
  .footerHome--fb {
    border-radius: 50%;
    width: 30px;
    background: #e43868;
    float: right;
    margin-right: 5px;
    position: relative; }
  .footerHome--ig {
    border-radius: 50%;
    width: 30px;
    background: #e43868;
    float: right;
    margin-right: 5px;
    position: relative; } }

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
  body {
    background-color: black; }
  header {
    width: 100%;
    height: 50px;
    background-color: black; }
  .header--logo {
    width: 120px;
    height: 95px;
    margin-top: 1.5em;
    margin-left: 1em; }
  .header--nav {
    float: right;
    text-decoration: none;
    color: pink;
    margin-right: 2em;
    margin-top: 2.5em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0; }
  .header--menuCel {
    display: none; }
  .header--menuPc {
    display: inline-block;
    position: right;
    padding-right: 2em; }
  .header--colorlink {
    text-decoration: none;
    color: white; }
  .header--desplegablePc {
    display: inline-block;
    float: left;
    position: relative; }
  .footerHome--listaCel {
    display: none; }
  .header--subdesplegablePc {
    display: none;
    color: black;
    background-color: #7e0d37;
    height: 70px;
    width: 90px;
    list-style-type: none;
    text-align: left;
    position: absolute;
    margin: 0;
    padding: 10px; }
  .header--desplegablePc:hover .header--subdesplegablePc {
    color: black;
    display: block; }
  .header--listaCel {
    display: none; }
  .sectionHome--img {
    width: 74%;
    height: 55%;
    clear: left;
    float: left;
    margin: 0 auto;
    padding-left: 11%;
    padding-bottom: 20%; }
  .footerHome--lista {
    display: inline-block;
    clear: left;
    padding-right: 3em; }
  .footerHome--listaDos {
    margin: 0;
    padding: 0; }
  .footerHome {
    clear: left;
    color: white;
    width: 100%;
    height: 150px;
    border-top: solid;
    border-color: white;
    border-width: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footerHome--tituloLista {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic; }
  .FooterHome--nroCel {
    list-style-type: none;
    font-size: 13px;
    text-decoration: none; }
  .footerHome--redes {
    clear: right;
    margin-right: 2em;
    float: right; }
  .footerHome--tt {
    border-radius: 50%;
    width: 30px;
    background: #e43868;
    float: right;
    margin-right: 5px;
    position: relative; }
  .footerHome--fb {
    border-radius: 50%;
    width: 30px;
    background: #e43868;
    float: right;
    margin-right: 5px;
    position: relative; }
  .footerHome--ig {
    border-radius: 50%;
    width: 30px;
    background: #e43868;
    float: right;
    margin-right: 5px;
    position: relative; } }
